<%- include('./partials/navbar.ejs') %>  


<% if (locals.message !="") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
        <b><%- locals.message %></b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>  


<div class="container" style="margin:150px auto;">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin" /></div>
                            <h5 class="user-name"><%- user.firstName %>  <%- user.lastName %></h5>
                            <h6 class="user-email"><%- user.email %> </h6>
                        </div>
                        <div class="about">
                            <h5>Hakkında</h5>
                            <p><%- user.business %></p>
                            <p><%- user.biography %></p>
                            <p>Katılım Tarihi <%- user.createdAt.toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' }) %></p>
                            <p>Toplam 128 anket oluşturdu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                <form method="post">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Kullanıcı Bilgileri</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group"><label>Eski Şifre</label><input name="password" type="text" class="form-control" value="<%- user.firstName %>"  id="firstName"  /></div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group"><label>Yeni Şifre</label><input name="newPassword" type="password" class="form-control" value="<%- user.lastName %>"  id="lastName"  /></div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group"><label>Yeni Şifre (Tekrar)</label><input disabled name="repeatPassword" type="password" class="form-control" value="<%- user.email %>" id="email"  /></div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" class="btn btn-danger" style="margin:10px auto" href="http://localhost:3000/home/users/profile">Güncelle</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>  