<%- include('./partials/navbar.ejs') %>


<div class="dateSection shadow" style="width:100%;max-width:960px; height:900px;min-height:500px;margin:auto;margin-top: 150px;margin-bottom: 70px;">
  <br>
  <div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active ">
        <div class="mdl-stepper-circle"><span>1</span></div>
        <div class="mdl-stepper-title">Etkinlik Oluştur</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active">
        <div class="mdl-stepper-circle"><span>2</span></div>
        <div class="mdl-stepper-title">Anket Ayarları</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active">
        <div class="mdl-stepper-circle"><span>3</span></div>
        <div class="mdl-stepper-title">Tarih-Saat Seçimi</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step">
        <div class="mdl-stepper-circle"><span>4</span></div>
        <div class="mdl-stepper-title">Oylama</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>
  </div>
</div>




<section class="tablee"  style="width: 60%; min-height: 50px;  max-height: 500px;  margin: 20px auto;">
<div class="">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel"><%- poll.title.toUpperCase("tr") %> Anketini silmek istiyor musunuz ?</h5>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger" href="http://localhost:3000/home/createPoll/delete/<%- dates[0].pollId %>">Sil</a>
      </div>
    </div>
  </div>
</div>
</div>  


<!-- anket bitiş tarihini değiştir -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form method="post">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anket Tarihini Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" name="setDate"  class="form-control end" readonly id="inputDate set">
      </div>
      <div class="modal-footer">
        <a type="button"  class="btn btn-danger" href="http://localhost:3000/home/createPoll/terminate/<%- dates[0].pollId %>">Anketi Sonlandır</a>
        <button type="submit" class="btn btn-success">Güncelle</button>
      </div>
    </div>
  </div>
</form>
</div>



<!-- Anket şifreleme işlemş -->


<div class="modal fade" id="sifrele" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form method="post">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anketi Şifrele</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input name="setPassword" type="password" class="form-control" required id="exampleFormControlInput1">  
      </div>
      <div class="modal-footer">
        <div class="input-group">
          <% if (poll.password!="none") { %>
            <input type="text" class="form-control" value="http://localhost:3000/home/createPoll/pollPassword/<%- poll._id %>" placeholder="Etkinlik URL" id="url-box1" aria-label="Etkinlik Url" aria-describedby="basic-addon2" readonly>
            <button class="btn btn-outline-secondary" style="background-color:#FF7B01; border-color: #FF7B01; color:white;" onclick="copyBox1()" type="button">Kopyala</button>
          <% } %>
            <button type="submit" class="btn btn-success">Şifrele</button>
        </div>      
      </div>
    </div>
  </div>
</form>
</div>






  <form method="post">
      <div class="inSection" style="text-align: center;">
        <br>
        <h3><%- poll.title.toUpperCase("tr") %> </h3>
          <h6><%- poll.location %> </h6>
        <h6><%- poll.description %> </h6>
      </div>
 
</section>
<section class="tablee" id="votes" style="width: 80%; min-height: 400px; max-height: 500px; overflow: auto; margin: 50px auto;">
   
    <table class="table" id="tbl_exporttable_to_xls">
      <% if (locals.prop !="") { %>
        <div class="alert alert-<%- locals.prop[0].split(":")[0] %> alert-dismissible fade show" role="alert" style="text-align: center;">
            <b><%- locals.prop[0].split(":")[1] %></b>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      <% } %>  
      <%let dead=new Date(Date.now()).toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric'}) <= poll.endTime  %>
      <% if (!dead) { %>
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div>
            Anket oylama süresi dolmuştur oy  <b class="text-decoration-underline">eklenemez , silinemez, düzenlenemez</b>
          </div>
        </div>
      <% } %>
      
      
      <% if (poll.isActive=="Anket Oylamaya Kapatıldı.") { %>
            <% dead=false %> 

            <div class="alert alert-warning d-flex align-items-center" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <div>
                <%- poll.isActive %>  
              </div>
            </div>

      <% } %>


        <% if (dead) { %>
          <% if (poll.oneDate=="true") { %>
            <li class="list-group-item list-group-item-warning">  Yanlızca tek tarih seçilebilir.<i style="float: right;" class="fas fa-exclamation-circle"></i></li>
          <% } %>
          <% if (poll.oneVote=="true") { %>
            <li class="list-group-item list-group-item-warning">Yanlızca tek oy kullanılabilir.<i style="float: right;" class="fas fa-exclamation-circle"></i></li>
          <% } %>
          <% if (poll.mode=="false") { %>
            <li class="list-group-item list-group-item-warning">  Anket şuan için anonimdir.<i style="float: right;" class="fas fa-exclamation-circle"></i></li>
          <% } %>
        
        <% } %>
        


      <% if (poll.endTime!="none") { %>
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div>
            Anket için son oy kullanma tarihi <%- poll.endTime %> lütfen dikkate alınız. 
          </div>
        </div>
      <% } %>

      <thead>
          <tr>
            <% dates.forEach(element => { %>
                <th scope="col"><%- element.date %>  <p><b style="font-size: 10px;"><%- element.beginTime %> </b>:<b style="font-size: 10px;"><%- element.endTime %> </b></p> </th>
            <% }) %>
            <th style="text-align: center;"><i class="fas fa-hammer" style="font-size: 20px;"></i></th>
            <th>Oy Kullanan</th>

            <% if(dead){ %>
              <!-- <th id="endSet"> -->
                <div class="dropdown" style="float: right; margin-right: 10px; margin-top: 10px;">
                  
                  <% if (manager==true) { %>
                    <a class="btn btn-secondary dropdown-toggle" style="border-radius: 10px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <% } %>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  
                    <li><a class="dropdown-item" href="http://localhost:3000/home/createPoll/edit/<%- dates[0].pollId %>">Anket bilgileri Güncelle</a></li>
                    <li><a class="dropdown-item" href="http://localhost:3000/home/createPoll/<%- dates[0].pollId %>">Takvim bilgileri Güncelle</a></li>
                    <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                      Anket Bitiş Tarihini Ayarla
                    </a></li>
                    <% if(poll.mode=="true"){ %>
                      <li><a class="dropdown-item" href="http://localhost:3000/home/createPoll/date/<%- dates[0].pollId %>?mode=false">Oyları Gizle</a></li>
                      <% } else if(poll.mode=="false") { %>
                        <li><a class="dropdown-item" href="http://localhost:3000/home/createPoll/date/<%- dates[0].pollId %>?mode=true">Oyları Herkese Aç</a></li>
                      <% } %>
                    <li><a class="dropdown-item" type="button"  onclick="ExportToExcel('xlsx')">
                      Excell çıktısı al
                    </a></li>

                    <li><a class="dropdown-item" type="button"  data-bs-toggle="modal" data-bs-target="#sifrele">
                      Anketi Şifrele
                    </a></li>



                    <li><a class="dropdown-item" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Anketi sil
                    </a></li>

                  </ul>
                </div>
              <!-- </th> -->



            <% } else{ %>  
              
              <!-- <th id="endSet"> -->
                <div class="dropdown" style="float: right; margin-right: 10px; margin-top: 10px;">
                  
                  <% if (manager==true) { %>
                    <a class="btn btn-secondary dropdown-toggle" style="border-radius: 10px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <% } %>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">   
                    <% if(poll.mode=="true"){ %>
                      <li><a class="dropdown-item" href="http://localhost:3000/home/createPoll/date/<%- dates[0].pollId %>?mode=false">Oyları Gizle</a></li>
                      <% } else if(poll.mode=="false") { %>
                        <li><a class="dropdown-item" href="http://localhost:3000/home/createPoll/date/<%- dates[0].pollId %>?mode=true">Oyları Herkese Aç</a></li>
                      <% } %>

                      <li><a class="dropdown-item" type="button"  onclick="ExportToExcel('xlsx')">
                        Excell çıktısı al
                      </a></li>
                      <li><a class="dropdown-item" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Anketi sil
                    </a></li>
                  </ul>
                </div>
              <!-- </th> -->

           <% } %>
            
          </tr>
    </thead>

        <% if(!voteId){ %>

          <tbody id="tb" style="background-color: whitesmoke;">
            <form method="post">
              <% votes.forEach(voteElement => { %>
                <tr class="tr" >
                      <% dates.forEach(dateElement => { %>
                        <% if(voteElement.dates.includes(dateElement._id)){ %>
                          <td style="background-color: lightgreen;"><i class="fas fa-check"></i><span style="visibility: hidden;">V</span></td>
                        <% } else{ %>  
                          <td style="background-color: lightcoral;"><i class="fas fa-times"><span style="visibility: hidden;">X</span></i></td>
                       <% } %>
                    <% }) %>

                    <% if(dead){ %>
                      <td style="text-align: center;"><a style="color: black;" href="http://localhost:3000/home/createPoll/updateVote/<%- voteElement.id %>"><i  class="fas fa-pencil-alt pencil"></i></a>
                        <a style="color: black; margin-left: 10px;" href="http://localhost:3000/home/createPoll/deleteVote/<%- voteElement.id %>"><i class="fas fa-trash"></i></a></td>
                    <% } else{ %>  
                      <td style="text-align: center;"><a style="color: black;"><i  class="fas fa-pencil-alt pencil"></i></a>
                        <a style="color: black; margin-left: 10px;"><i class="fas fa-trash"></i></a></td>
                   <% } %>


                    <td><%- voteElement.voterFirstName %> <%- voteElement.voterLastName %> </td> 
                </tr>
              <% }) %>
              <% if(poll.oneDate=="true"){ %>
                <% if (dead) { %>
                 
                  <tr>
                    <% dates.forEach(dateElement => { %>
                      <td><input class="form-check-input" value=<%- dateElement._id %> type="radio" name="votes" id="flexRadioDefault1"></td>
                      <% }) %>
                      <th></th>
                      <th><button type="submit"  style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px" class="btn btn-success">Oyla</button></th>
                    </tr>


                <% } %>


              <% } else{ %>  
                <% if (dead) { %>               
                <tr>
                    <% dates.forEach(dateElement => { %>
                    <td><input name="votes" value=<%- dateElement._id %>  class="form-check-input" type="checkbox"  id="flexCheckDefault"></td>
                    <% }) %>
                    <th></th>
                    <th><button type="submit" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px"  class="btn btn-success">Oyla</button></th>
                  </tr>
                <% } %>

             <% } %>
            <tr>
              <% dates.forEach(dateElement => { %>
                <td><i style="font-size: 10px;" class="fas fa-check"></i><%- dateElement.totel %> </td>
              <% }) %>
              <td colspan="2" style="text-align: center;"><b>Onaylanan Toplam Oy</b></td>
            </tr>
          </tbody>
         
        <% } else{ %>  
          

          <tbody style="background-color:whitesmoke ; ">
            <form method="post">
              <% votes.forEach(voteElement => { %>
                
                <% if(voteElement.id===voteId){ %>
                  
                    <form method="post">
                      
                      <% if(poll.oneDate=="true"){ %>

                        <tr class="table-success" >
                          <% dates.forEach(dateElement => { %>
                            <% if(voteElement.dates.includes(dateElement._id)){ %>
                              <td><input name="votes" value=<%- dateElement._id %>  class="form-check-input" type="radio" checked  id="flexRadioDefault1"></td>
                            <% } else{ %>  
                              <td><input name="votes" value=<%- dateElement._id %>  class="form-check-input" type="radio"  id="flexRadioDefault1"></td>
                          <% } %>
                        <% }) %>
                        <th><button type="submit" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px" class="btn btn-success">Güncelle</button></th>
                        <td><%- voteElement.voterFirstName %> <%- voteElement.voterLastName %> </td> 
                    </tr>
                    
                      <% } else{ %>  

                        <tr class="table-success" >
                          <% dates.forEach(dateElement => { %>
                            <% if(voteElement.dates.includes(dateElement._id)){ %>
                              <td><input name="votes" value=<%- dateElement._id %>  class="form-check-input" type="checkbox" checked  id="flexCheckDefault"></td>
                            <% } else{ %>  
                              <td><input name="votes" value=<%- dateElement._id %>  class="form-check-input" type="checkbox"  id="flexCheckDefault"></td>
                          <% } %>
                        <% }) %>
                        <th><button type="submit"  style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px" class="btn btn-success">Güncelle</button></th>
                        <td><%- voteElement.voterFirstName %> <%- voteElement.voterLastName %> </td> 
                    </tr>

                     <% } %>
                    </form>

                <% } else{ %>  
                  <tr class="tr" style="align-items: center;">
                    <% dates.forEach(dateElement => { %>
                      <% if(voteElement.dates.includes(dateElement._id)){ %>
                        <td><i class="fas fa-check"></i></td>
                      <% } else{ %>  
                        <td><i class="fas fa-times"></i></td>
                     <% } %>
                  <% }) %>
                  <td style="text-align: center;"><a style="color: black;" href="http://localhost:3000/home/createPoll/updateVote/<%- voteElement.id %>"><i  class="fas fa-pencil-alt pencil"></i></a></td>
                  <td><%- voteElement.voterFirstName %> <%- voteElement.voterLastName %> </td> 
              </tr>
               <% } %>
              <% }) %>
          </tbody>
          
       <% } %>

      </form>
      </table>
    
</section> <br>
</div>







<div class="dateSection shadow " id="comment" style="width:100%;max-width:1024px; height:auto;min-height:500px;margin:auto;margin-top: 150px;margin-bottom: 70px;">
  <br>
<% if (comments.length===0) { %>
  <div class="repliess" style="width:70%; margin: auto;">
    <div class="card-header">Henüz Hiç Yorum Yok</div>
    <div class="card-body">
      <p>Yorum eklemek ister misiniz ?</p>
    </div>
  </div>

<% } %>
  <!-- Buranın altı tamamen yorumlar kısmı -->
  <div class="comments" style="width: 70%; margin:25px auto;">
    <% let index=0 %> 
    <% comments.forEach(element => { %>
      <% index=index+1 %> 
      
      <div class="card text-white bg-secondary mb-3" style="width: 100%;">
        <div class="card-header"><%- element.ownerName %>  <a style="float: right;" class="btn btn-danger" href="http://localhost:3000/home/createPoll/deleteMessage/<%- element._id %>">X</a>                    </div>
        <div class="card-body">
          <h5 class="card-title"><%- element.text %></h5>
          <p class="card-text"><%- element.createdAt.toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' }) %></p>            
          
          <% element.replies.forEach(e => { %>
            <div class="repliess" style="width: 75%; float: right; background-color:lightgreen; color: black; border-bottom: 2px solid black;">
              <div class="card-header"><%- e.ownerName %> </div>
              <div class="card-body">
                <h5 class="card-title"><%- e.text %></h5>
                <p class="card-text"><%- e.createdAt.toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' }) %></p>
              </div>
            </div>
            <% }) %>


        </div>


          <div class="accordion" id="accordionExample">
            <div class="accordion-item" style="background-color: #f2f2f2;">
              <h2 class="accordion-header" style="color: #000000" id="headingTwo">
                <button class="btn btn-success collapsed" style="background-color:#FF7B01; border-color: #FF7B01; margin-top: 2px; margin-bottom: 3px; color:white;width: auto; min-width:100px;margin-left:3px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo<%- index%>" aria-expanded="true" aria-controls="collapseOne">
                  Yanıtla
                  </button>
              </h2>

              <div id="collapseTwo<%- index%>" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                
                  <form method="post">
                    <input type="text" style="visibility: hidden;" readonly name="comment" value="<%- element.id %> " id="">
                    <textarea class="form-control mb-3 control" required name="comment" placeholder="Yorumlarınız Yazınız." id="floatingTextarea2" style="height: 100px"></textarea>
                    <button class="btn btn-success commentbtn" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px"  type="submit">Yorum Yap</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
          
      </div>
    <% }) %>

    <form method="post">
      <input type="text" style="visibility: hidden;" readonly name="comment" value="comment" id="">
      <textarea class="form-control mb-3 control" required name="comment" placeholder="Yorumlarınız Yazınız." id="floatingTextarea2" style="height: 100px"></textarea>
      <button class="btn btn-success commentbtn" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px" type="submit">Yorum Yap</button>
    
    </form>
  </div>

   <!-- Buranın üstü tamamen yorumlar kısmı -->
  <br>
</div>







<% if (manager==true) { %>


  <div class="dateSection shadow" style="width:100%;max-width:1024px; height:auto;min-height:500px;margin:auto;margin-top: 150px;margin-bottom: 70px;">
    <br>
        <div class="intro">
        <h2 class="text-center">ETKİNLİĞİ PAYLAŞ</h2>
        <p class="text-center">Etkinliğini oylayabilmeleri için katılımcılar ile paylaş!</p>
    </div>
    <br>
    <div class="card" style="width: 15rem; margin-left: 350px;margin:auto;">
        <img class="card-img-top" src=<%- src %>  alt="Card image cap">
        <div class="card-body">
            <p class="card-text">İster QR kod ister link sen nasıl istersen öyle paylaş.</p>
        </div>
    </div>
  <br>
    <div style="width: 100%;max-width: 500px;height: auto; margin-left: 250px;margin:auto;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="http://localhost:3000/home/createPoll/date/<%- poll._id %>" placeholder="Etkinlik URL" id="url-box" aria-label="Etkinlik Url" aria-describedby="basic-addon2" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px" onclick="copyBox()" type="button">Kopyala</button><button class="btn btn-outline-secondary" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px; margin-left: 2px" id="paylas" onclick="share()" type="button">Paylaş</button>
            </div>
        </div>
        <br>
        <br>
    </div>
  </div>











  <div class="dateSection shadow" id="sendemail" style="width:100%;max-width:1024px; height:auto;min-height:500px;margin:auto;margin-top: 150px;margin-bottom: 70px;">
    <br>
    <% if (locals.message !="") { %>
      <div class="alert alert-<%- locals.message[0].split(":")[0] %> alert-dismissible fade show" role="alert" style="text-align: center;">
          <b><%- locals.message[0].split(":")[1] %></b>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>  
    <br>
    <div class="intro">
        <h2 class="text-center">Katılımcılara Email Gönder</h2>
        <p class="text-center">Ankete Katılmasını istediğin kullanıcılara Email gönder!</p>
    </div>
  
  
  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-white">
                    <div class="card-body">
                        <form action="javascript:void(0);">
                            <input type="email" class="form-control add-task" placeholder="Email">
                        </form>
                      <form method="post">
                        <div class="todo-list">
                            <div class="todo-item">
                              <input type="text" style="visibility: hidden;" readonly name="mail" value="email" id="">
                                <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <button class="btn btn-success" style="background-color:#FF7B01; border-color: #FF7B01; color:white;width: auto; min-width:100px;margin-left:3px" type="submit">Gönder</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
  </div>


<% } %>





<%- include('./partials/footer.ejs') %>