
<%- include('./partials/navbar.ejs') %>  



<div class="container" style="margin:120px auto;">
    <% if (locals.message !="") { %>
        <div class="alert alert-<%- locals.message[0].split(":")[0] %> alert-dismissible fade show" role="alert" style="text-align: center;">
            <b><%- locals.message[0].split(":")[1] %></b>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% } %>  

    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"  id="home-tab"  style="color:#78797a!important; font-weight:bold;" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Kullanıcı Bilgisi</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"  id="profile-tab" style="color:#78797a!important; font-weight:bold;"data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Şifre</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link"  id="password-tab"  style="color: #78797a!important; font-weight:bold;" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab" aria-controls="password" aria-selected="false">E-posta</button>
        </li>

    </ul>
    <br>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile" style="text-align: center;">
                                    <% if(user.profileImage=="default.jpg"){ %>
                                        <img src="/assets/userImgs/default.jpg" class="img-thumbnail" style="width: 150px; height: auto;" alt="">
                                      <% } else{ %>  
                                        <img src="/assets/userImgs/<%- user.id %><%- user.profileImage %>" class="img-thumbnail" style="width: 150px; height: auto;" alt="">
                                     <% } %>                                    <h5 class="user-name"><%- user.firstName %>  <%- user.lastName %></h5>
                                    <h6 class="user-email"><%- user.email %> </h6>
                                </div>
                                <div class="about">
                                    <h5>Hakkında</h5>

                                    <p><%- user.business %></p>
                                    <p><%- user.biography %></p>
                                    <p>Katılım Tarihi <%- user.createdAt.toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' }) %></p>
                                    <% if(user.totelPoll==0){ %>
                                        <p>Henüz Hiç Anket Oluşturmadı</p>
                                      <% } else{ %>  
                                        <p>Toplam <%- user.totelPoll %>  Anket Oluşturdu</p>
                                     <% } %>
                                    
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row gutters">

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="margin-bottom: 10px;">
                                    <div class="form-group"><label>Ad</label><input name="firstName" type="text" class="form-control" value="<%- user.firstName %>"  id="firstName" style="border: dashed #FF7B01 1px; border-radius: 5px;" /></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label>Soyad</label><input name="lastName" type="text" class="form-control" value="<%- user.lastName %>"  id="lastName" style="border: dashed #FF7B01 1px; border-radius: 5px;" /></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label>E-posta</label><input disabled name="email" type="email" class="form-control" value="<%- user.email %>" id="email"  style="border: dashed #FF7B01 1px; border-radius: 5px;"/></div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Resim yükle</label>
                                        <input  name="image" type="file" class="form-control" value="<%- user.profileImage %>" id="image"  style="border: dashed #FF7B01 1px; border-radius: 5px;"/>
                                        <% if (user.profileImage!="default.jpg") { %>
                                        <a href="http://localhost:3000/home/users/deleteProfileImage" type="button" class="btn btn-danger mt-2">Profil Resmini Kaldır</a>
                                        <% } %>
                                    </div>
                                    </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <% if(user.business!=undefined){ %>
                                        <div class="form-group"><label>Meslek</label><input name="business" type="text" value="<%- user.business %>"  class="form-control" style="border: dashed #FF7B01 1px; border-radius: 5px;"/></div>
                                      <% } else{ %>  
                                        <div class="form-group"><label>Meslek</label><input  name="business" type="text" value="Belirtilmedi" class="form-control"  style="border: dashed #0D6EFD 1px; border-radius: 5px;"/></div>
                                     <% } %>
                                </div>
                            </div>
        
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="submit" class="btn btn-success" style="margin:15px auto; background-color: #FF7B01 !important;border-color: #FF7B01;" href="http://localhost:3000/home/users/profile">Profili Güncelle</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile" style="text-align: center;">
                                    <% if(user.profileImage=="default.jpg"){ %>
                                        <img src="/assets/userImgs/default.jpg" class="img-thumbnail" style="width: 150px; height: auto;" alt="">
                                      <% } else{ %>  
                                        <img src="/assets/userImgs/<%- user.id %><%- user.profileImage %>" class="img-thumbnail" style="width: 150px; height: auto;" alt="">
                                     <% } %>                                    <h5 class="user-name"><%- user.firstName %>  <%- user.lastName %></h5>
                                    <h6 class="user-email"><%- user.email %> </h6>
                                </div>
                                <div class="about">
                                    <h5>Hakkında</h5>
                                    <p><%- user.business %></p>
                                    <p><%- user.biography %></p>
                                    <p>Katılım Tarihi <%- user.createdAt.toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' }) %></p>
                                    <p>Toplam 128 anket oluşturdu</p>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                        <form method="post">
                            <div class="row gutters">
                                
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-bottom: 10px">
                                    <div class="form-group"><label>Şifre</label><input name="password" type="password" class="form-control" placeholder="Şifre"  id="passoword"  style="border: dashed #FF7B01 1px; border-radius: 5px;"/></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label>Yeni Şifre</label><input name="newPassword" type="password" class="form-control"  placeholder="Yeni Şifre"  id="passoword" style="border: dashed #FF7B01 1px; border-radius: 5px;" /></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label>Yeni şifre (Tekrar)</label><input name="repeatPassword" type="password" class="form-control" placeholder="Yeni Şifre (Tekrar)"  id="passoword" style="border: dashed #FF7B01 1px; border-radius: 5px;" /></div>
                                </div>
                            </div>
        
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="submit" class="btn btn-success" style="margin:15px auto;border-color: #FF7B01!important; background-color: #FF7B01!important;" href="http://localhost:3000/home/users/profile">Şifre Güncelle</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">

            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile" style="text-align: center;">
                                    <% if(user.profileImage=="default.jpg"){ %>
                                        <img src="/assets/userImgs/default.jpg" class="img-thumbnail" style="width: 150px; height: auto;" alt="">
                                      <% } else{ %>  
                                        <img src="/assets/userImgs/<%- user.id %><%- user.profileImage %>" class="img-thumbnail" style="width: 150px; height: auto;" alt="">
                                     <% } %>
                                    <h5 class="user-name"><%- user.firstName %>  <%- user.lastName %></h5>
                                    <h6 class="user-email"><%- user.email %> </h6>
                                </div>
                                <div class="about">
                                    <h5>Hakkında</h5>
                                    <p><%- user.business %></p>
                                    <p><%- user.biography %></p>
                                    <p>Katılım Tarihi <%- user.createdAt.toLocaleDateString("tr", { day: 'numeric', month: 'numeric', year: 'numeric', weekday: 'long' }) %></p>
                                    <p>Toplam 128 anket oluşturdu</p>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                        <form method="post">
                            <div class="row gutters">
                                
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label>Yeni E-Posta</label><input name="email" type="email" class="form-control" placeholder="Yeni E-Posta"  id="email"  style="border: dashed #FF7B01 1px; border-radius: 5px;"/></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label>Şifre</label><input name="password" type="password" class="form-control"  placeholder="Şifre" id="password" style="border: dashed #FF7B01 1px; border-radius: 5px;" /></div>
                                </div>
                            </div>
        
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="submit" class="btn btn-success" style="margin:15px auto;background-color: #FF7B01!important;border-color: #FF7B01!important;" href="http://localhost:3000/home/users/profile">Email Güncelle</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


      </div>
     
</div>


<%- include('./partials/footer.ejs') %>