<%- include('./partials/navbar.ejs') %> 

<section class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center"><%- user.firstName%>  <%- user.lastName %> </h1>
                    <p class="text-center"><a href="#" style="text-decoration: none;"><%- user.email %> </a><span class="date"><%- user.createdAt %>  </span></p>
                </div>
                <div class="text">
                    <figure class="figure d-block" style="text-align: center;">

                        <% if(user.profileImage=="default.jpg"){ %>
                            <img src="/assets/userImgs/default.jpg" class="img-thumbnail" style="width: 300px; height: auto; border-radius: 100%;"  alt="">
                          <% } else{ %>  
                            <img src="/assets/userImgs/<%- user.id %><%- user.profileImage %>" class="img-thumbnail" style="width: 300px; height: auto;" alt="">
                         <% } %>   

                    </figure>
                    <div class="prop" style="text-align: center;">
                        <h1><%- user.firstName %> <%- user.lastName %>  </h1>
                        <h3><%- user.email %> </h3>
                        <h3><%- user.description %> </h3>
                        <h3><%- user.createdAt %> </h3>
                        <h3><%- user.business %> </h3>
                        <h3><% if (user.isActive) { %>
                         <h4>Aktif</h4>
                        <% } %></h3>
                        <h3>Toplam anket <%- user.totelPoll %> </h3>
                        <% if(user.blocked==true){ %>
                            <a class="btn btn-success" href="http://localhost:3000/home/users/block/<%- user.id %>">Blok Kaldır</a>
                          <% } else{ %>  
                            <a class="btn btn-danger" href="http://localhost:3000/home/users/block/<%- user.id %>">Kullanıcı Blokla</a>
                         <% } %>
                    </div>
 
                    <hr style="margin-bottom: 100px;">
                </div>
            </div>
        </div>
    </div>


<%- include('./partials/footer.ejs') %> 